openapi: 3.0.3
info:
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: Reacon API
  version: 0.1.0
servers:
- url: https://api.reacon.io
paths:
  /v1/actions/{capability}:
    post:
      description: "Runs email.find, email.verify or domain.search against existing\
        \ revealed/cached data without charging credits. mode defaults to live; preview\
        \ returns output null. email.find input uses firstName, lastName and domain;\
        \ email.verify uses email; domain.search uses domain and limit (1–100), with\
        \ optional company. idempotencyKey is required by HTTP validation in both\
        \ modes. replay describes invocation recording and must not be treated as\
        \ permission to automatically replay execution. Segment-signed requests must\
        \ supply all five origin headers and use segment:SHA256(capability + \":\"\
        \ + eventId) as idempotencyKey."
      operationId: executeIntegrationCapability
      parameters:
      - explode: false
        in: path
        name: capability
        required: true
        schema:
          enum:
          - email.find
          - email.verify
          - domain.search
          type: string
        style: simple
      - description: "Optional origin signing profile. If any origin header is present,\
          \ all five are required."
        explode: false
        in: header
        name: x-lumenreach-integration
        required: false
        schema:
          enum:
          - segment
          type: string
        style: simple
      - description: Required together with the other Segment origin headers when
          origin signing is used.
        explode: false
        in: header
        name: x-lumenreach-install-id
        required: false
        schema:
          type: string
        style: simple
      - description: Required together with the other Segment origin headers when
          origin signing is used.
        explode: false
        in: header
        name: x-lumenreach-timestamp
        required: false
        schema:
          type: string
        style: simple
      - description: Required together with the other Segment origin headers when
          origin signing is used.
        explode: false
        in: header
        name: x-lumenreach-event-id
        required: false
        schema:
          type: string
        style: simple
      - description: Required together with the other Segment origin headers when
          origin signing is used.
        explode: false
        in: header
        name: x-lumenreach-signature
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExecuteIntegrationCapabilityRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IntegrationCapabilityResponse"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 400 error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 401 error
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 403 error
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 409 error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 429 error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 500 error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 503 error
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unexpected API error; SDKs also retain the raw body when a
            proxy returns non-JSON content.
      security:
      - ApiKey: []
      summary: Execute an integration capability
      tags:
      - Integrations
      x-reacon-billable: false
      x-reacon-replay-safe: false
      x-reacon-service: public-api
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/companies:
    get:
      description: "Returns a bounded company list with optional domain, name, website\
        \ and sort filters. Pagination uses limit and offset; there is no response\
        \ cursor."
      operationId: listCompanies
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - explode: true
        in: query
        name: domain
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: website
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          enum:
          - created_at
          - name
          - number_of_employees
          - founded_on
          type: string
        style: form
      - explode: true
        in: query
        name: order
        required: false
        schema:
          enum:
          - asc
          - desc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanyList"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 400 error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 401 error
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 403 error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 429 error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 500 error
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unexpected API error; SDKs also retain the raw body when a
            proxy returns non-JSON content.
      security:
      - ApiKey: []
      summary: List companies
      tags:
      - Companies
      x-reacon-billable: false
      x-reacon-pagination:
        defaultLimit: 50
        items: results
        requestLimit: limit
        requestOffset: offset
        terminal: short-page
        type: offset
      x-reacon-replay-safe: true
      x-reacon-service: public-api
      x-accepts:
      - application/json
  /v1/domains/{domain}/catch-all:
    get:
      description: "Returns the currently fresh domain capability. catch_all is null\
        \ when evidence is missing, expired or inconclusive. This reads existing evidence;\
        \ it does not start an SMTP probe."
      operationId: getDomainCatchAll
      parameters:
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DomainCatchAll"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 400 error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 401 error
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 403 error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 429 error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 500 error
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unexpected API error; SDKs also retain the raw body when a
            proxy returns non-JSON content.
      security:
      - ApiKey: []
      summary: Read domain catch-all status
      tags:
      - Domains
      x-reacon-billable: false
      x-reacon-replay-safe: true
      x-reacon-service: public-api
      x-accepts:
      - application/json
  /v1/domains/{domain}/company-context:
    get:
      description: Returns the normalized company context and up to ten jobs. company
        is null when no company context exists.
      operationId: getDomainCompanyContext
      parameters:
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DomainCompanyContext"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 400 error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 401 error
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 403 error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 429 error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 500 error
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unexpected API error; SDKs also retain the raw body when a
            proxy returns non-JSON content.
      security:
      - ApiKey: []
      summary: Get company context for a domain
      tags:
      - Domains
      x-reacon-billable: false
      x-reacon-replay-safe: true
      x-reacon-service: public-api
      x-accepts:
      - application/json
  /v1/domains/{domain}/counts:
    get:
      description: "Returns personal, generic and total known email counts for the\
        \ domain. Authenticate with X-API-Key. This endpoint reports counts only;\
        \ it does not reveal email addresses. The recorded example uses a reserved\
        \ example.invalid domain with zero known emails."
      operationId: getDomainCounts
      parameters:
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          format: hostname
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DomainCounts"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 400 error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 401 error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 429 error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 500 error
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unexpected API error; SDKs also retain the raw body when a
            proxy returns non-JSON content.
      security:
      - ApiKey: []
      summary: Count known emails for a domain
      tags:
      - Domains
      x-reacon-billable: false
      x-reacon-replay-safe: true
      x-reacon-service: public-api
      x-accepts:
      - application/json
  /v1/emails:
    get:
      description: "Lists emails and optional sources. This request may consume credits\
        \ even though it uses GET. The nextCursor value is null at the end. X-LR-Cursor\
        \ overrides cursor; when both limits are present, the smaller limit applies.\
        \ Do not automatically retry a failed or interrupted request."
      operationId: listEmails
      parameters:
      - explode: true
        in: query
        name: domain
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sourcesLimit
        required: false
        schema:
          maximum: 50
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: onlyIfFree
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      - description: Overrides the query cursor.
        explode: false
        in: header
        name: x-lr-cursor
        required: false
        schema:
          type: string
        style: simple
      - description: Page size; capped by the query limit when both are provided.
        explode: false
        in: header
        name: x-lr-limit
        required: false
        schema:
          maximum: 500
          minimum: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmailPage"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 400 error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 401 error
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 402 error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 429 error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 500 error
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unexpected API error; SDKs also retain the raw body when a
            proxy returns non-JSON content.
      security:
      - ApiKey: []
      summary: List and reveal emails for a domain
      tags:
      - Emails
      x-reacon-billable: true
      x-reacon-pagination:
        items: results
        requestCursor: cursor
        responseCursor: nextCursor
        type: cursor
      x-reacon-replay-safe: false
      x-reacon-service: public-api
      x-accepts:
      - application/json
  /v1/emails/{email}:
    delete:
      description: Deletes the email and its mentions. deleted is false when no email
        row was removed. This changes stored data and must not be retried automatically.
      operationId: deleteEmail
      parameters:
      - explode: false
        in: path
        name: email
        required: true
        schema:
          format: email
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteEmailResponse"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 400 error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 401 error
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 403 error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 429 error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 500 error
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unexpected API error; SDKs also retain the raw body when a
            proxy returns non-JSON content.
      security:
      - ApiKey: []
      summary: Delete an email and its mentions
      tags:
      - Emails
      x-reacon-billable: false
      x-reacon-replay-safe: false
      x-reacon-service: public-api
      x-accepts:
      - application/json
    get:
      description: Reveals an email profile with a bounded list of mentions and may
        create a team lead. May spend credits despite using GET. A 404 uses a nested
        error object. Do not automatically retry an interrupted request.
      operationId: revealEmail
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - explode: false
        in: path
        name: email
        required: true
        schema:
          format: email
          type: string
        style: simple
      - description: "Overrides the query limit, then bounded to 1–500."
        explode: false
        in: header
        name: x-lr-limit
        required: false
        schema:
          maximum: 500
          minimum: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmailRevealResponse"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 400 error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 401 error
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 402 error
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 403 error
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmailNotFoundError"
          description: HTTP 404 error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 429 error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 500 error
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unexpected API error; SDKs also retain the raw body when a
            proxy returns non-JSON content.
      security:
      - ApiKey: []
      summary: Reveal an email profile
      tags:
      - Emails
      x-reacon-billable: true
      x-reacon-replay-safe: false
      x-reacon-service: public-api
      x-accepts:
      - application/json
  /v1/emails/{email}/mentions:
    get:
      description: Returns a cursor page of source mentions. X-LR-Cursor and X-LR-Limit
        override query values. A full page can carry a cursor even if the next page
        is empty; continue until nextCursor is null.
      operationId: listEmailMentions
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: path
        name: email
        required: true
        schema:
          format: email
          type: string
        style: simple
      - description: "Overrides the query limit, then bounded to 1–500."
        explode: false
        in: header
        name: x-lr-limit
        required: false
        schema:
          maximum: 500
          minimum: 1
          type: integer
        style: simple
      - description: Overrides the query cursor.
        explode: false
        in: header
        name: x-lr-cursor
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmailMentionsPage"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 400 error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 401 error
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 403 error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 429 error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 500 error
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unexpected API error; SDKs also retain the raw body when a
            proxy returns non-JSON content.
      security:
      - ApiKey: []
      summary: List sources mentioning an email
      tags:
      - Emails
      x-reacon-billable: false
      x-reacon-pagination:
        items: results
        requestCursor: cursor
        responseCursor: nextCursor
        type: cursor
      x-reacon-replay-safe: true
      x-reacon-service: public-api
      x-accepts:
      - application/json
  /v1/emails/id/{id}:
    get:
      description: Reveals an email profile by its stable ID with a bounded list of
        mentions. May spend credits and create a lead. A 404 uses a nested error object.
        Do not automatically retry.
      operationId: revealEmailById
      parameters:
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: "Overrides the query limit, then bounded to 1–500."
        explode: false
        in: header
        name: x-lr-limit
        required: false
        schema:
          maximum: 500
          minimum: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmailRevealResponse"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 400 error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 401 error
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 402 error
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 403 error
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmailNotFoundError"
          description: HTTP 404 error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 429 error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 500 error
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unexpected API error; SDKs also retain the raw body when a
            proxy returns non-JSON content.
      security:
      - ApiKey: []
      summary: Reveal an email profile by ID
      tags:
      - Emails
      x-reacon-billable: true
      x-reacon-replay-safe: false
      x-reacon-service: public-api
      x-accepts:
      - application/json
  /v1/hooks:
    post:
      description: Creates an event subscription for the API key team. The signing
        secret is returned on creation; store it securely and exclude it from logs
        and documentation recordings.
      operationId: createAutomationHook
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAutomationHookRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AutomationHookCreated"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 400 error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 401 error
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 409 error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 429 error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 500 error
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unexpected API error; SDKs also retain the raw body when a
            proxy returns non-JSON content.
      security:
      - ApiKey: []
      summary: Create an automation webhook
      tags:
      - Webhooks
      x-reacon-billable: false
      x-reacon-replay-safe: false
      x-reacon-service: public-api
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/hooks/{hookId}:
    delete:
      description: Deletes a subscription in the API key team. Returns 204 without
        a body or 404 if no subscription matches.
      operationId: deleteAutomationHook
      parameters:
      - explode: false
        in: path
        name: hookId
        required: true
        schema:
          maxLength: 36
          minLength: 36
          type: string
        style: simple
      responses:
        "204":
          description: Successful response with no body
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 400 error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 401 error
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 404 error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 429 error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 500 error
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unexpected API error; SDKs also retain the raw body when a
            proxy returns non-JSON content.
      security:
      - ApiKey: []
      summary: Delete an automation webhook
      tags:
      - Webhooks
      x-reacon-billable: false
      x-reacon-replay-safe: false
      x-reacon-service: public-api
      x-accepts:
      - application/json
  /v1/insights/{email}:
    get:
      description: "Extracts page mentions and platform findings. JSON returns the\
        \ aggregate. Accept: text/event-stream selects events discriminated by kind;\
        \ final carries response and error is terminal. mention_error is an item failure\
        \ and does not terminate the stream. This executes extraction work despite\
        \ using GET; do not retry or reconnect automatically. Stream disconnection\
        \ does not imply that backend work has been cancelled."
      operationId: getEmailInsights
      parameters:
      - explode: false
        in: path
        name: email
        required: true
        schema:
          format: email
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InsightsResponse"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 400 error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 401 error
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 403 error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 429 error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 500 error
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unexpected API error; SDKs also retain the raw body when a
            proxy returns non-JSON content.
      security:
      - ApiKey: []
      summary: Extract insights associated with an email
      tags:
      - Insights
      x-reacon-billable: false
      x-reacon-replay-safe: false
      x-reacon-service: public-api
      x-reacon-streaming:
        contentType: text/event-stream
        discriminator: kind
        events:
        - InsightStartedEvent
        - InsightMentionExtractedEvent
        - InsightMentionInsightEvent
        - InsightMentionErrorEvent
        - InsightPlatformProgressEvent
        - InsightPlatformDetectedEvent
        - InsightPlatformScanEvent
        - InsightFinalEvent
        - InsightErrorEvent
        negotiation:
          header: Accept
          value: text/event-stream
        reconnect: false
        terminalValues:
        - final
        - error
      x-accepts:
      - application/json
  /v1/integrations/providers:
    get:
      description: "Lists provider metadata, readiness and supported capabilities.\
        \ Provider identifiers and response status fields remain extensible."
      operationId: listIntegrationProviders
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IntegrationProviderList"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 400 error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 401 error
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 403 error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 429 error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 500 error
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unexpected API error; SDKs also retain the raw body when a
            proxy returns non-JSON content.
      security:
      - ApiKey: []
      summary: List integration providers
      tags:
      - Integrations
      x-reacon-billable: false
      x-reacon-replay-safe: true
      x-reacon-service: public-api
      x-accepts:
      - application/json
  /v1/leads/{leadId}:
    delete:
      description: Deletes a lead visible to the authenticated team and returns a
        success envelope. A repeated delete can return 404.
      operationId: deleteLead
      parameters:
      - explode: false
        in: path
        name: leadId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteLeadResponse"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 400 error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 401 error
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 403 error
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 404 error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 429 error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 500 error
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unexpected API error; SDKs also retain the raw body when a
            proxy returns non-JSON content.
      security:
      - ApiKey: []
      summary: Delete a lead
      tags:
      - Leads
      x-reacon-billable: false
      x-reacon-replay-safe: false
      x-reacon-service: public-api
      x-accepts:
      - application/json
    get:
      description: Retrieves a lead visible to the authenticated team. A missing or
        inaccessible lead can return 404.
      operationId: getLead
      parameters:
      - explode: false
        in: path
        name: leadId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetLeadResponse"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 400 error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 401 error
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 403 error
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 404 error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 429 error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 500 error
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unexpected API error; SDKs also retain the raw body when a
            proxy returns non-JSON content.
      security:
      - ApiKey: []
      summary: Retrieve a lead
      tags:
      - Leads
      x-reacon-billable: false
      x-reacon-replay-safe: true
      x-reacon-service: public-api
      x-accepts:
      - application/json
  /v1/leads/{leadId}/update:
    post:
      description: Updates a lead visible to the authenticated team and returns the
        updated lead envelope. This endpoint uses POST. Missing leads or an update
        with no changes can return 404; do not automatically replay.
      operationId: updateLead
      parameters:
      - explode: false
        in: path
        name: leadId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateLeadRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateLeadResponse"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 400 error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 401 error
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 403 error
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 404 error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 429 error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 500 error
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unexpected API error; SDKs also retain the raw body when a
            proxy returns non-JSON content.
      security:
      - ApiKey: []
      summary: Update a lead
      tags:
      - Leads
      x-reacon-billable: false
      x-reacon-replay-safe: false
      x-reacon-service: public-api
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/name/schemas:
    get:
      description: Returns name patterns ranked by score. domain is required and validated;
        optional first and last query fields do not alter this static pattern list.
      operationId: listNamePatterns
      parameters:
      - explode: true
        in: query
        name: domain
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: first
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: last
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NamePatternsResponse"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 400 error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 401 error
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 403 error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 429 error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 500 error
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unexpected API error; SDKs also retain the raw body when a
            proxy returns non-JSON content.
      security:
      - ApiKey: []
      summary: List supported email name patterns
      tags:
      - Names
      x-reacon-billable: false
      x-reacon-replay-safe: true
      x-reacon-service: public-api
      x-accepts:
      - application/json
  /v1/name/verify:
    get:
      description: "Verifies candidate addresses built from sanitized first and last\
        \ names. JSON returns patterns, globalStages and results. With Accept: text/event-stream,\
        \ events contain stages or individual pattern verdicts; ordinary completion\
        \ is clean EOF, with no aggregate final marker. When no candidates can be\
        \ built, the stream instead emits a result envelope and ends. Errors can describe\
        \ individual candidates; an error event is not universally terminal. The operation\
        \ may consume credits; never reconnect or replay automatically."
      operationId: verifyName
      parameters:
      - explode: true
        in: query
        name: domain
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: first
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: last
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: cacheMaxAge
        required: false
        schema:
          enum:
          - live
          - 1d
          - 1w
          - 1m
          type: string
        style: form
      - explode: true
        in: query
        name: onlyIfFree
        required: false
        schema:
          enum:
          - "true"
          - "false"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NameVerificationResponse"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 400 error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 401 error
        "402":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 402 error
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 403 error
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 422 error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 429 error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 500 error
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unexpected API error; SDKs also retain the raw body when a
            proxy returns non-JSON content.
      security:
      - ApiKey: []
      summary: Verify name-based email patterns
      tags:
      - Names
      x-reacon-billable: true
      x-reacon-replay-safe: false
      x-reacon-service: public-api
      x-reacon-streaming:
        completion: clean-eof
        contentType: text/event-stream
        events:
        - VerificationStage
        - NameVerificationItem
        - NameVerificationEmptyFinal
        - VerificationStreamError
        itemErrors: true
        negotiation:
          header: Accept
          value: text/event-stream
        reconnect: false
        terminalProperties: []
      x-accepts:
      - application/json
  /v1/origin-installations/segment:
    post:
      description: "Creates a signing identity for Segment-origin requests. The response\
        \ contains a secret and is marked Cache-Control: no-store. Store the secret\
        \ securely and redact it from recordings."
      operationId: createSegmentInstallation
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSegmentInstallationRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SegmentInstallationCreated"
          description: Successful response
          headers:
            Cache-Control:
              description: no-store
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 400 error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 401 error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 429 error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 500 error
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unexpected API error; SDKs also retain the raw body when a
            proxy returns non-JSON content.
      security:
      - ApiKey: []
      summary: Create a Segment origin installation
      tags:
      - Webhooks
      x-reacon-billable: false
      x-reacon-replay-safe: false
      x-reacon-service: public-api
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/origin-installations/segment/{installationId}:
    delete:
      description: Deletes the installation within the API key team. Returns 204 with
        no body or 404 if no installation matches.
      operationId: deleteSegmentInstallation
      parameters:
      - explode: false
        in: path
        name: installationId
        required: true
        schema:
          maxLength: 36
          minLength: 36
          type: string
        style: simple
      responses:
        "204":
          description: Successful response with no body
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 400 error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 401 error
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 404 error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 429 error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 500 error
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unexpected API error; SDKs also retain the raw body when a
            proxy returns non-JSON content.
      security:
      - ApiKey: []
      summary: Delete a Segment origin installation
      tags:
      - Webhooks
      x-reacon-billable: false
      x-reacon-replay-safe: false
      x-reacon-service: public-api
      x-accepts:
      - application/json
  /v1/product/tools/{tool}:
    post:
      description: "Execute one of the listed tools using a team API key. Choose the\
        \ input schema associated with the tool path parameter; the input union alone\
        \ cannot express that relationship. Read tools return executionId=null and\
        \ replay=false. Write tools require input.idempotencyKey (16–200 characters),\
        \ scoped to the team across tools. Reusing a key with the same tool and validated\
        \ input returns the committed output with replay=true while retained; different\
        \ input or an unfinished execution returns HTTP 409. The SDK does not automatically\
        \ retry this dispatcher. Tool scopes describe the shared integration/MCP catalog;\
        \ this HTTP endpoint uses team API-key authentication and team-access checks.\
        \ Missing database resources can currently surface as HTTP 500. See each tool\
        \ for output and pagination semantics."
      operationId: executeProductTool
      parameters:
      - explode: false
        in: path
        name: tool
        required: true
        schema:
          enum:
          - discover_companies
          - discover_people
          - domain_finder
          - email_count
          - person_enrich
          - company_enrich
          - combined_enrich
          - saved_searches_list
          - leads_list
          - lead_get
          - lead_create
          - lead_update
          - lead_upsert
          - lead_delete
          - lead_enrich
          - lead_bulk_delete
          - lead_tags_list
          - lead_tag_create
          - lead_tag_assign
          - lead_tag_remove
          - custom_attributes_list
          - custom_attribute_create
          - lead_lists_list
          - lead_list_create
          - lead_list_update
          - lead_list_delete
          - lead_list_add_lead
          - lead_list_remove_lead
          - companies_list
          - company_track
          - company_update
          - company_delete
          - company_lists_list
          - company_list_create
          - company_list_add
          - company_list_remove
          - sequences_list
          - sequence_recipients_list
          - sequence_recipients_add
          - sequence_recipient_add
          - sequence_recipient_cancel
          - sequence_start
          - account_info
          - usage
          - usage_history
          - team_members
          - connected_apps
          - connected_app_push
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProductToolRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductToolExecution"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 400 error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 401 error
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 403 error
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 409 error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 429 error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 500 error
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unexpected API error; SDKs also retain the raw body when a
            proxy returns non-JSON content.
      security:
      - ApiKey: []
      summary: Execute a product tool
      tags:
      - Product tools
      x-reacon-billable: false
      x-reacon-product-tools:
        account_info:
          catalogScope: account:read
          description: Return the connected workspace account and plan.
          execution:
            $ref: "#/components/schemas/ProductAccountInfoExecution"
          input:
            $ref: "#/components/schemas/ProductAccountInfoInput"
          output:
            $ref: "#/components/schemas/ProductAccountInfoOutput"
          readOnly: true
          title: Account information
        combined_enrich:
          catalogScope: product:read
          description: Return combined person and company enrichment.
          execution:
            $ref: "#/components/schemas/ProductCombinedEnrichExecution"
          input:
            $ref: "#/components/schemas/ProductCombinedEnrichInput"
          output:
            $ref: "#/components/schemas/ProductCombinedEnrichOutput"
          readOnly: true
          title: Enrich person and company
        companies_list:
          catalogScope: product:read
          description: "List tracked companies. Uses limit/offset pagination. total\
            \ is zero on an empty page, including an offset beyond the last result."
          execution:
            $ref: "#/components/schemas/ProductCompaniesListExecution"
          input:
            $ref: "#/components/schemas/ProductCompaniesListInput"
          output:
            $ref: "#/components/schemas/ProductCompaniesListOutput"
          pagination:
            emptyPageTotalIsZero: true
            items: items
            kind: offset
            requestLimit: input.limit
            requestOffset: input.offset
            responseTotal: output.total
          readOnly: true
          title: List tracked companies
        company_delete:
          catalogScope: product:write
          description: Delete a tracked company. Stops tracking the company for the
            team; does not delete the shared company directory record.
          execution:
            $ref: "#/components/schemas/ProductCompanyDeleteExecution"
          input:
            $ref: "#/components/schemas/ProductCompanyDeleteInput"
          output:
            $ref: "#/components/schemas/ProductCompanyDeleteOutput"
          readOnly: false
          title: Delete company
        company_enrich:
          catalogScope: product:read
          description: Return deterministic company enrichment for a domain.
          execution:
            $ref: "#/components/schemas/ProductCompanyEnrichExecution"
          input:
            $ref: "#/components/schemas/ProductCompanyEnrichInput"
          output:
            $ref: "#/components/schemas/ProductCompanyEnrichOutput"
          readOnly: true
          title: Enrich company
        company_list_add:
          catalogScope: product:write
          description: Add a tracked company to a list.
          execution:
            $ref: "#/components/schemas/ProductCompanyListAddExecution"
          input:
            $ref: "#/components/schemas/ProductCompanyListAddInput"
          output:
            $ref: "#/components/schemas/ProductCompanyListAddOutput"
          readOnly: false
          title: Add company to list
        company_list_create:
          catalogScope: product:write
          description: Create a static company list.
          execution:
            $ref: "#/components/schemas/ProductCompanyListCreateExecution"
          input:
            $ref: "#/components/schemas/ProductCompanyListCreateInput"
          output:
            $ref: "#/components/schemas/ProductCompanyListCreateOutput"
          readOnly: false
          title: Create company list
        company_list_remove:
          catalogScope: product:write
          description: Remove a company from a list.
          execution:
            $ref: "#/components/schemas/ProductCompanyListRemoveExecution"
          input:
            $ref: "#/components/schemas/ProductCompanyListRemoveInput"
          output:
            $ref: "#/components/schemas/ProductCompanyListRemoveOutput"
          readOnly: false
          title: Remove company from list
        company_lists_list:
          catalogScope: product:read
          description: List company lists.
          execution:
            $ref: "#/components/schemas/ProductCompanyListsListExecution"
          input:
            $ref: "#/components/schemas/ProductCompanyListsListInput"
          output:
            $ref: "#/components/schemas/ProductCompanyListsListOutput"
          readOnly: true
          title: List company lists
        company_track:
          catalogScope: product:write
          description: Track a company by domain.
          execution:
            $ref: "#/components/schemas/ProductCompanyTrackExecution"
          input:
            $ref: "#/components/schemas/ProductCompanyTrackInput"
          output:
            $ref: "#/components/schemas/ProductCompanyTrackOutput"
          readOnly: false
          title: Track company
        company_update:
          catalogScope: product:write
          description: Update a tracked company.
          execution:
            $ref: "#/components/schemas/ProductCompanyUpdateExecution"
          input:
            $ref: "#/components/schemas/ProductCompanyUpdateInput"
          output:
            $ref: "#/components/schemas/ProductCompanyUpdateOutput"
          readOnly: false
          title: Update company
        connected_app_push:
          catalogScope: product:write
          description: "Queue up to 10,000 explicitly selected leads for one connected\
            \ CRM or destination. Queues an asynchronous CRM export; queued does not\
            \ mean the external provider has received the leads. Repeated downstream\
            \ queue insertion can return queued=false."
          execution:
            $ref: "#/components/schemas/ProductConnectedAppPushExecution"
          input:
            $ref: "#/components/schemas/ProductConnectedAppPushInput"
          output:
            $ref: "#/components/schemas/ProductConnectedAppPushOutput"
          readOnly: false
          title: Push leads to a connected app
        connected_apps:
          catalogScope: account:read
          description: List available and connected integration surfaces.
          execution:
            $ref: "#/components/schemas/ProductConnectedAppsExecution"
          input:
            $ref: "#/components/schemas/ProductConnectedAppsInput"
          output:
            $ref: "#/components/schemas/ProductConnectedAppsOutput"
          readOnly: true
          title: List connected apps
        custom_attribute_create:
          catalogScope: product:write
          description: Create a lead custom attribute.
          execution:
            $ref: "#/components/schemas/ProductCustomAttributeCreateExecution"
          input:
            $ref: "#/components/schemas/ProductCustomAttributeCreateInput"
          output:
            $ref: "#/components/schemas/ProductCustomAttributeCreateOutput"
          readOnly: false
          title: Create custom attribute
        custom_attributes_list:
          catalogScope: product:read
          description: List lead custom attributes.
          execution:
            $ref: "#/components/schemas/ProductCustomAttributesListExecution"
          input:
            $ref: "#/components/schemas/ProductCustomAttributesListInput"
          output:
            $ref: "#/components/schemas/ProductCustomAttributesListOutput"
          readOnly: true
          title: List custom attributes
        discover_companies:
          catalogScope: product:read
          description: Find companies matching structured criteria.
          execution:
            $ref: "#/components/schemas/ProductDiscoverCompaniesExecution"
          input:
            $ref: "#/components/schemas/ProductDiscoverCompaniesInput"
          output:
            $ref: "#/components/schemas/ProductDiscoverCompaniesOutput"
          readOnly: true
          title: Discover companies
        discover_people:
          catalogScope: product:read
          description: Find people matching role and company criteria.
          execution:
            $ref: "#/components/schemas/ProductDiscoverPeopleExecution"
          input:
            $ref: "#/components/schemas/ProductDiscoverPeopleInput"
          output:
            $ref: "#/components/schemas/ProductDiscoverPeopleOutput"
          readOnly: true
          title: Discover people
        domain_finder:
          catalogScope: product:read
          description: Resolve a company name to a likely domain.
          execution:
            $ref: "#/components/schemas/ProductDomainFinderExecution"
          input:
            $ref: "#/components/schemas/ProductDomainFinderInput"
          output:
            $ref: "#/components/schemas/ProductDomainFinderOutput"
          readOnly: true
          title: Find company domain
        email_count:
          catalogScope: product:read
          description: Count known emails for a company domain.
          execution:
            $ref: "#/components/schemas/ProductEmailCountExecution"
          input:
            $ref: "#/components/schemas/ProductEmailCountInput"
          output:
            $ref: "#/components/schemas/ProductEmailCountOutput"
          readOnly: true
          title: Count emails
        lead_bulk_delete:
          catalogScope: product:write
          description: Delete up to 100 explicitly selected leads. Deduplicates leadIds.
            All selected leads must exist in the team or the transaction rolls back.
          execution:
            $ref: "#/components/schemas/ProductLeadBulkDeleteExecution"
          input:
            $ref: "#/components/schemas/ProductLeadBulkDeleteInput"
          output:
            $ref: "#/components/schemas/ProductLeadBulkDeleteOutput"
          readOnly: false
          title: Bulk delete leads
        lead_create:
          catalogScope: product:write
          description: Create one lead. Attribute keys must already be defined for
            the team.
          execution:
            $ref: "#/components/schemas/ProductLeadCreateExecution"
          input:
            $ref: "#/components/schemas/ProductLeadCreateInput"
          output:
            $ref: "#/components/schemas/ProductLeadCreateOutput"
          readOnly: false
          title: Create lead
        lead_delete:
          catalogScope: product:write
          description: Delete one lead and detach it from lists.
          execution:
            $ref: "#/components/schemas/ProductLeadDeleteExecution"
          input:
            $ref: "#/components/schemas/ProductLeadDeleteInput"
          output:
            $ref: "#/components/schemas/ProductLeadDeleteOutput"
          readOnly: false
          title: Delete lead
        lead_enrich:
          catalogScope: product:write
          description: Fill deterministic missing lead fields without overwriting
            supplied values. Fills SQL-null fields from existing email enrichment;
            empty strings are not replaced.
          execution:
            $ref: "#/components/schemas/ProductLeadEnrichExecution"
          input:
            $ref: "#/components/schemas/ProductLeadEnrichInput"
          output:
            $ref: "#/components/schemas/ProductLeadEnrichOutput"
          readOnly: false
          title: Enrich lead
        lead_get:
          catalogScope: product:read
          description: Get one lead by UUID.
          execution:
            $ref: "#/components/schemas/ProductLeadGetExecution"
          input:
            $ref: "#/components/schemas/ProductLeadGetInput"
          output:
            $ref: "#/components/schemas/ProductLeadGetOutput"
          readOnly: true
          title: Get lead
        lead_list_add_lead:
          catalogScope: product:write
          description: Add a lead to a list idempotently.
          execution:
            $ref: "#/components/schemas/ProductLeadListAddLeadExecution"
          input:
            $ref: "#/components/schemas/ProductLeadListAddLeadInput"
          output:
            $ref: "#/components/schemas/ProductLeadListAddLeadOutput"
          readOnly: false
          title: Add lead to list
        lead_list_create:
          catalogScope: product:write
          description: Create a lead list.
          execution:
            $ref: "#/components/schemas/ProductLeadListCreateExecution"
          input:
            $ref: "#/components/schemas/ProductLeadListCreateInput"
          output:
            $ref: "#/components/schemas/ProductLeadListCreateOutput"
          readOnly: false
          title: Create lead list
        lead_list_delete:
          catalogScope: product:write
          description: Delete a lead list without deleting its leads.
          execution:
            $ref: "#/components/schemas/ProductLeadListDeleteExecution"
          input:
            $ref: "#/components/schemas/ProductLeadListDeleteInput"
          output:
            $ref: "#/components/schemas/ProductLeadListDeleteOutput"
          readOnly: false
          title: Delete lead list
        lead_list_remove_lead:
          catalogScope: product:write
          description: Remove a lead from a list.
          execution:
            $ref: "#/components/schemas/ProductLeadListRemoveLeadExecution"
          input:
            $ref: "#/components/schemas/ProductLeadListRemoveLeadInput"
          output:
            $ref: "#/components/schemas/ProductLeadListRemoveLeadOutput"
          readOnly: false
          title: Remove lead from list
        lead_list_update:
          catalogScope: product:write
          description: Rename a lead list.
          execution:
            $ref: "#/components/schemas/ProductLeadListUpdateExecution"
          input:
            $ref: "#/components/schemas/ProductLeadListUpdateInput"
          output:
            $ref: "#/components/schemas/ProductLeadListUpdateOutput"
          readOnly: false
          title: Update lead list
        lead_lists_list:
          catalogScope: product:read
          description: List lead lists.
          execution:
            $ref: "#/components/schemas/ProductLeadListsListExecution"
          input:
            $ref: "#/components/schemas/ProductLeadListsListInput"
          output:
            $ref: "#/components/schemas/ProductLeadListsListOutput"
          readOnly: true
          title: List lead lists
        lead_tag_assign:
          catalogScope: product:write
          description: Assign a tag to a lead.
          execution:
            $ref: "#/components/schemas/ProductLeadTagAssignExecution"
          input:
            $ref: "#/components/schemas/ProductLeadTagAssignInput"
          output:
            $ref: "#/components/schemas/ProductLeadTagAssignOutput"
          readOnly: false
          title: Assign lead tag
        lead_tag_create:
          catalogScope: product:write
          description: Create a lead tag.
          execution:
            $ref: "#/components/schemas/ProductLeadTagCreateExecution"
          input:
            $ref: "#/components/schemas/ProductLeadTagCreateInput"
          output:
            $ref: "#/components/schemas/ProductLeadTagCreateOutput"
          readOnly: false
          title: Create lead tag
        lead_tag_remove:
          catalogScope: product:write
          description: Remove a tag from a lead.
          execution:
            $ref: "#/components/schemas/ProductLeadTagRemoveExecution"
          input:
            $ref: "#/components/schemas/ProductLeadTagRemoveInput"
          output:
            $ref: "#/components/schemas/ProductLeadTagRemoveOutput"
          readOnly: false
          title: Remove lead tag
        lead_tags_list:
          catalogScope: product:read
          description: List lead tags.
          execution:
            $ref: "#/components/schemas/ProductLeadTagsListExecution"
          input:
            $ref: "#/components/schemas/ProductLeadTagsListInput"
          output:
            $ref: "#/components/schemas/ProductLeadTagsListOutput"
          readOnly: true
          title: List lead tags
        lead_update:
          catalogScope: product:write
          description: Update one lead by UUID. Only supplied profile fields are updated.
            Supplied attribute values are merged; an empty attributes object does
            not clear existing values. Attribute keys must already be defined for
            the team.
          execution:
            $ref: "#/components/schemas/ProductLeadUpdateExecution"
          input:
            $ref: "#/components/schemas/ProductLeadUpdateInput"
          output:
            $ref: "#/components/schemas/ProductLeadUpdateOutput"
          readOnly: false
          title: Update lead
        lead_upsert:
          catalogScope: product:write
          description: Create or update one lead by normalized email. Finds a lead
            by normalized email. Default empty profile fields may overwrite existing
            profile values. Supplied attribute values are merged; attribute keys must
            already be defined for the team.
          execution:
            $ref: "#/components/schemas/ProductLeadUpsertExecution"
          input:
            $ref: "#/components/schemas/ProductLeadUpsertInput"
          output:
            $ref: "#/components/schemas/ProductLeadUpsertOutput"
          readOnly: false
          title: Upsert lead
        leads_list:
          catalogScope: product:read
          description: "List leads in the connected workspace. Uses limit/offset pagination.\
            \ total is computed from returned rows and is zero when the requested\
            \ page is empty, even if earlier pages contain records."
          execution:
            $ref: "#/components/schemas/ProductLeadsListExecution"
          input:
            $ref: "#/components/schemas/ProductLeadsListInput"
          output:
            $ref: "#/components/schemas/ProductLeadsListOutput"
          pagination:
            emptyPageTotalIsZero: true
            items: items
            kind: offset
            requestLimit: input.limit
            requestOffset: input.offset
            responseTotal: output.total
          readOnly: true
          title: List leads
        person_enrich:
          catalogScope: product:read
          description: Return deterministic person enrichment for an email.
          execution:
            $ref: "#/components/schemas/ProductPersonEnrichExecution"
          input:
            $ref: "#/components/schemas/ProductPersonEnrichInput"
          output:
            $ref: "#/components/schemas/ProductPersonEnrichOutput"
          readOnly: true
          title: Enrich person
        saved_searches_list:
          catalogScope: product:read
          description: List deterministic saved Discover searches. The current implementation
            always returns an empty items array.
          execution:
            $ref: "#/components/schemas/ProductSavedSearchesListExecution"
          input:
            $ref: "#/components/schemas/ProductSavedSearchesListInput"
          output:
            $ref: "#/components/schemas/ProductSavedSearchesListOutput"
          readOnly: true
          title: List saved searches
        sequence_recipient_add:
          catalogScope: campaigns:write
          description: Add a recipient to an existing sequence. Returns an items array
            with one recipient. Existing recipients are set back to scheduled.
          execution:
            $ref: "#/components/schemas/ProductSequenceRecipientAddExecution"
          input:
            $ref: "#/components/schemas/ProductSequenceRecipientAddInput"
          output:
            $ref: "#/components/schemas/ProductSequenceRecipientAddOutput"
          readOnly: false
          title: Add sequence recipient
        sequence_recipient_cancel:
          catalogScope: campaigns:write
          description: Cancel scheduled messages for one recipient.
          execution:
            $ref: "#/components/schemas/ProductSequenceRecipientCancelExecution"
          input:
            $ref: "#/components/schemas/ProductSequenceRecipientCancelInput"
          output:
            $ref: "#/components/schemas/ProductSequenceRecipientCancelOutput"
          readOnly: false
          title: Cancel sequence recipient
        sequence_recipients_add:
          catalogScope: campaigns:write
          description: "Add one to 100 recipients to an existing sequence in one idempotent\
            \ operation. Returns one item per supplied recipient, including repeats;\
            \ added is the number of returned items, not the number of newly inserted\
            \ rows. Existing recipients are set back to scheduled."
          execution:
            $ref: "#/components/schemas/ProductSequenceRecipientsAddExecution"
          input:
            $ref: "#/components/schemas/ProductSequenceRecipientsAddInput"
          output:
            $ref: "#/components/schemas/ProductSequenceRecipientsAddOutput"
          readOnly: false
          title: Add sequence recipients
        sequence_recipients_list:
          catalogScope: campaigns:read
          description: List recipients for one sequence.
          execution:
            $ref: "#/components/schemas/ProductSequenceRecipientsListExecution"
          input:
            $ref: "#/components/schemas/ProductSequenceRecipientsListInput"
          output:
            $ref: "#/components/schemas/ProductSequenceRecipientsListOutput"
          readOnly: true
          title: List sequence recipients
        sequence_start:
          catalogScope: campaigns:write
          description: Activate a sequence. Marks the product sequence active and
            records a canonical event; it does not confirm mail delivery.
          execution:
            $ref: "#/components/schemas/ProductSequenceStartExecution"
          input:
            $ref: "#/components/schemas/ProductSequenceStartInput"
          output:
            $ref: "#/components/schemas/ProductSequenceStartOutput"
          readOnly: false
          title: Start sequence
        sequences_list:
          catalogScope: campaigns:read
          description: List sequences available to the workspace.
          execution:
            $ref: "#/components/schemas/ProductSequencesListExecution"
          input:
            $ref: "#/components/schemas/ProductSequencesListInput"
          output:
            $ref: "#/components/schemas/ProductSequencesListOutput"
          readOnly: true
          title: List sequences
        team_members:
          catalogScope: account:read
          description: List members of the connected workspace.
          execution:
            $ref: "#/components/schemas/ProductTeamMembersExecution"
          input:
            $ref: "#/components/schemas/ProductTeamMembersInput"
          output:
            $ref: "#/components/schemas/ProductTeamMembersOutput"
          readOnly: true
          title: List team members
        usage:
          catalogScope: account:read
          description: "Return current workspace credit usage. creditsUsed sums negative\
            \ credit transactions over all retained history; requests counts credit\
            \ transactions, not HTTP requests."
          execution:
            $ref: "#/components/schemas/ProductUsageExecution"
          input:
            $ref: "#/components/schemas/ProductUsageInput"
          output:
            $ref: "#/components/schemas/ProductUsageOutput"
          readOnly: true
          title: Current usage
        usage_history:
          catalogScope: account:read
          description: "Return recent billable operations without contact payloads.\
            \ Uses limit/offset pagination. total is zero on an empty page. creditsUsed\
            \ and requests in usage are ledger aggregates, not an HTTP-request counter\
            \ or a specified billing-period total."
          execution:
            $ref: "#/components/schemas/ProductUsageHistoryExecution"
          input:
            $ref: "#/components/schemas/ProductUsageHistoryInput"
          output:
            $ref: "#/components/schemas/ProductUsageHistoryOutput"
          pagination:
            emptyPageTotalIsZero: true
            items: items
            kind: offset
            requestLimit: input.limit
            requestOffset: input.offset
            responseTotal: output.total
          readOnly: true
          title: Usage history
      x-reacon-replay-safe: false
      x-reacon-service: public-api
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/stats:
    get:
      description: Returns email and mention counts plus the actions version. This
        endpoint does not require authentication.
      operationId: getStats
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicStats"
          description: Successful response
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 429 error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 500 error
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unexpected API error; SDKs also retain the raw body when a
            proxy returns non-JSON content.
      security: []
      summary: Get public dataset statistics
      tags:
      - Stats
      x-reacon-billable: false
      x-reacon-replay-safe: true
      x-reacon-service: public-api
      x-accepts:
      - application/json
  /v1/teams/{teamId}/integrations/{provider}/oauth/start:
    post:
      description: Starts authorization for the supported provider. Complete consent
        at authorizationUrl before configuring the connection. Provider-specific authorizationServer
        and resourceUrl inputs are validated by the server.
      operationId: startIntegrationOAuth
      parameters:
      - explode: false
        in: path
        name: teamId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: provider
        required: true
        schema:
          enum:
          - microsoft_excel
          - airtable
          - salesforce
          - hubspot
          - pipedrive
          - zoho
          - close
          - dynamics
          - copper
          - notion
          - slack
          - webflow
          - typeform
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StartIntegrationOAuthRequest"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IntegrationOAuthStartResponse"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 400 error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 401 error
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 403 error
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 409 error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 429 error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 500 error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 503 error
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unexpected API error; SDKs also retain the raw body when a
            proxy returns non-JSON content.
      security:
      - ApiKey: []
      summary: Start provider authorization
      tags:
      - Integrations
      x-reacon-billable: false
      x-reacon-replay-safe: false
      x-reacon-service: public-api
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/teams/{teamId}/integrations/attio/oauth/start:
    post:
      description: Creates an authorization transaction and returns its URL and expiry.
        Complete consent in a browser.
      operationId: startAttioOAuth
      parameters:
      - explode: false
        in: path
        name: teamId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StartAttioOAuthRequest"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IntegrationOAuthStartResponse"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 400 error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 401 error
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 403 error
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 409 error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 429 error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 500 error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 503 error
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unexpected API error; SDKs also retain the raw body when a
            proxy returns non-JSON content.
      security:
      - ApiKey: []
      summary: Start Attio authorization
      tags:
      - Integrations
      x-reacon-billable: false
      x-reacon-replay-safe: false
      x-reacon-service: public-api
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/teams/{teamId}/integrations/coda:
    post:
      description: Creates a mapped Coda connection and tests access. Inspect test.state
        for provider health.
      operationId: configureCoda
      parameters:
      - explode: false
        in: path
        name: teamId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConfigureCodaRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IntegrationConnectionTestResponse"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 400 error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 401 error
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 403 error
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 409 error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 429 error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 500 error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 503 error
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unexpected API error; SDKs also retain the raw body when a
            proxy returns non-JSON content.
      security:
      - ApiKey: []
      summary: Configure a Coda connection
      tags:
      - Integrations
      x-reacon-billable: false
      x-reacon-replay-safe: false
      x-reacon-service: public-api
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/teams/{teamId}/integrations/coda/inspect:
    post:
      description: Requires team administrator access. Uses the supplied API token
        to discover document and table columns without saving a connection.
      operationId: inspectCodaTable
      parameters:
      - explode: false
        in: path
        name: teamId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InspectCodaTableRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CodaTableInspectionResponse"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 400 error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 401 error
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 403 error
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 409 error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 429 error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 500 error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 503 error
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unexpected API error; SDKs also retain the raw body when a
            proxy returns non-JSON content.
      security:
      - ApiKey: []
      summary: Inspect Coda table columns
      tags:
      - Integrations
      x-reacon-billable: false
      x-reacon-replay-safe: false
      x-reacon-service: public-api
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/teams/{teamId}/integrations/connections:
    get:
      description: "Lists visible, non-deleted connections for the authenticated team.\
        \ Credential values are not included."
      operationId: listIntegrationConnections
      parameters:
      - explode: false
        in: path
        name: teamId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IntegrationConnectionList"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 400 error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 401 error
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 403 error
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 409 error
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 429 error
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 500 error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 503 error
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: Unexpected API error; SDKs also retain the raw body when a
            proxy returns non-JSON content.
      security:
      - ApiKey: []
      summary: List integration connections
      tags:
      - Integrations
      x-reacon-billable: false
      x-reacon-replay-safe: true
      x-reacon-service: public-api
      x-accepts:
      - application/json
  /v1/teams/{teamId}/integrations/connections/{connectionId}/airtable-mapping-options:
    get:
      description: "Lists accessible bases and, when baseId is supplied, its tables\
        \ and fields. Requires administrator access."
      operationId: getAirtableMappingOptions
      parameters:
      - explode: true
        in: query
        name: baseId
        required: false
        schema:
          maxLength: 100
          minLength: 1
          type: string
        style: form
      - explode: false
        in: path
        name: teamId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: connectionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AirtableMappingOptionsResponse"
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 400 error
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
          description: HTTP 401 error
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
[...]
